.layout-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;

    .main-content-area {
    margin-top: 88px;
    margin-left: 240px;
    display: flex;
    flex-direction: row;
    }

    .page-content {
        flex-grow: 1;
    }
}